.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0%;
  padding:0%;
}

.Todo_List_Input {
  flex: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo_List_Input input{
  width: 200px;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;
  font-size: 17px;
  broder: 1px solid black;
}

.Todo_List_Input button{
  width: 55px;
  height: 40px;
  cursor: pointer;
}

.Todo_List{
  flex: 70%;
  width: 100%;
}